@keyframes box-layout-bg {
  0%{background-position:0% 92%}
  50%{background-position:100% 9%}
  100%{background-position:0% 92%}
}

.box-layout {
  align-items: center;
  animation: box-layout-bg 6s ease infinite;
  background: linear-gradient(222deg, lighten($dark-blue, 30), $dark-blue);
  background-size: 400% 400%;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.box-layout__box {
  background: fade-out(white, .15);
  border-radius: 3px;
  padding: $l-size $m-size;
  text-align: center;
  width: 25rem;
}

.box-layout__title {
  margin: 0 0 $m-size 0;
  line-height: 1;
}
