.button {
  background: $blue;
  border: none;
  color: white;
  display: inline-block;
  font-size: $font-size-large;
  font-weight: 300;
  line-height: 1;
  padding: $s-size;
  text-decoration: none;
}

.button--link {
  background: none;
}

$hover-close-animation: all ease-in .2s;

.button--hover-close {
  transition: $hover-close-animation;

  .icon {
    transition: $hover-close-animation;
  }

  &:hover{
    background-color: #B84854;
    transition: $hover-close-animation;

    .icon{
      transition: $hover-close-animation;
      fill: white
    }
  }
}

.button--secondary {
  background: #888;
}
