.DayPickerContainer {
  border: 1px solid #cacccd;
  display: flex;
  padding: $s-size;

  input {
    border: none;
    height: 100%;
    outline: none;
    width: 110px;

    &:hover {
      cursor: pointer;
    }

    &:focus {
      background-color: lighten($dark-blue, 70);
    }
  }

  button {
    background: transparent;
    border: none;
    outline: none;
  }

  .DayPicker {
    font-size: $s-size;

    &Input {
      width: 100%;
    }

    &-Day {
      border-radius: 0;
    }

    &-Day--start, &-Day--end {
      background-color: $dark-blue !important;
      color: white;
    }

    &-Day--selected:not(.DayPicker-Day--start):not(.DayPicker-Day--end):not(.DayPicker-Day--outside) {
      background-color: lighten($dark-blue, 30);
      color: white;
    }
  }

  &--largeInput input{
    width: 100%;
  }
}
