.DateRangePicker{
  width: 100%;

  .DateRangePickerInput{
    width: 100%;
  }

  .DateInput{
    &:first-child{
      padding-left: 5px;
      padding-right: 0;
      width: 110px;
    }
    padding-left: 0;
    padding-right: 0;
    width: 108px;
  }

  button{
    margin-left: 3px;
    margin-right: 3px;
    padding-left: 0;
    padding-right: 7px;

    &:hover {
      background: transparent;
    }
  }
}


.InputFromTo .DayPicker-Day--selected:not(.DayPicker-Day--start):not(.DayPicker-Day--end):not(.DayPicker-Day--outside) {
  background-color: #f0f8ff !important;
  color: #4a90e2;
}
.InputFromTo .DayPicker-Day {
  border-radius: 0 !important;
}
.InputFromTo .DayPicker-Day--start {
  border-top-left-radius: 50% !important;
  border-bottom-left-radius: 50% !important;
}
.InputFromTo .DayPicker-Day--end {
  border-top-right-radius: 50% !important;
  border-bottom-right-radius: 50% !important;
}
.InputFromTo-to .DayPickerInput-Overlay {
  margin-left: -198px;
}
