.form {
  display: flex;
  flex-direction: column;
  >* {
    margin-bottom: $m-size;
  }
  >*:last-child {
    margin-bottom: 0;
  }

  &__error {
    font-style: italic;
    margin: 0 0 $m-size 0;
  }
}
