@keyframes spinner {
  to {transform: rotate(360deg);}
}

.loader:before {
  animation: spinner .6s linear infinite;
  border: 1rem solid #ccc;
  border-radius: 50%;
  border-top-color: $blue;
  box-sizing: border-box;
  content: '';
  left: 50%;
  margin-left: -3.5rem;
  margin-top: -3.5rem;
  position: absolute;
  top: 50%;
  height: 6rem;
  width: 6rem;
}
