.ReactModalPortal {
  > div {
    transition: opacity 200ms ease-in-out;
  }

  .ReactModal__Overlay {
    align-items: center;
    display: flex;
    justify-content: center;
    opacity: 0;
  }

  .ReactModal__Overlay--after-open {
    opacity: 1;
  }

  .ReactModal__Overlay--before-close {
    opacity: 0;
  }
}

.modal {
  background: white;
  border: 1px solid $grey;
  max-width: 30rem;
  outline: none;
  padding: $l-size;
  text-align: center;

  &__body {
    font-size: 2rem;
    font-weight: 300;
    margin: 0 0 $l-size 0;
  }

  &__options {
    display: flex;
    justify-content: space-between;
  }
}
