@import "~balloon-css/src/balloon";

.tooltip {
  background: none;
  border: none;
  display: inline-block;
  outline: none;

  &--in-form {
    margin-top: -15px;
    position: absolute !important;
    right: 10px;
    top: 50%;
  }
  &__icon {
    fill: $dark-blue;
  }
}
